/* ----------------- SIZES ---------------- */
$baseWidth: 1200px;
$headerHeight: 35px;
$footerHeight: 52px;
$sidebarWidth: 280px;
$sidebarGutter: 40px;
$contentWidth: $baseWidth - $sidebarGutter - $baseWidth;

/* ---------------- COLORS ---------------- */

$cBlack: #000;
$cWhite: #fff;
$cLink: #de0f22;
$cLinkActive: #de0f22;
$cLinkVisited: #de717b;
$cBrandGreen: #156947;
$drkGreen: rgb(20, 105, 71);
$drkGrey: #26231f;
$lghtGrey: rgb(219, 218, 215);